@use "sass:math";
@use "../settings" as *;
@use "typography" as *;

* .active {
  background-color: $color-white !important;
  color: $color-theme !important;
}

* figure.video {
  margin-right: auto !important;
  margin-left: auto !important;
}

* a {
  cursor: pointer !important;
  text-decoration: none !important;
  color: $color-theme;

  &:hover {
    color: $color-hover !important;
    cursor: pointer !important;
  }
}

video {
  max-width: 100%;
}

* p {
  line-height: 1.35em !important;
}

iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

figure {
  @include media-breakpoint-down(lg) {
    text-align: center;
    margin-bottom: 15px !important;
  }
}

figcaption {
  padding: math.div($spacer, 3) 0;
  color: $color-black;
  text-align: center;
  margin: $spacer;

  @include media-breakpoint-up(xl) {
    padding: math.div($spacer-xl, 3) 0;
    margin: $spacer-xl;
  }

  @include media-breakpoint-down(sm) {
    padding: math.div($spacer-sm, 3) 0;
    margin: $spacer-sm;
  }
}


body {
  font-family: "medium", Helvetica, Arial, sans-serif;
  @extend %small;
  line-height: 1.2em !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible !important;
  overflow-x: hidden !important;
  background-color: $color-white;

  &.no-scroll {
    overflow: hidden !important;
    position: relative;
  }
}

.nws {
  &:hover {
    * {
      color: $color-hover !important;
    }
  }
}

* {
  &.full-width {
    width: auto !important;
    min-width: fit-content !important;
    max-width: unset !important;
  }
}