@use "../settings" as *;
@use "typography" as *;

* .active {
  background-color: $color-hover !important;
  color: $color-white !important;
}

* figure.video {
  margin-right: auto !important;
  margin-left: auto !important;
}

a {
  cursor: pointer !important;
  text-decoration: none !important;

  &:hover {
    cursor: pointer !important;
  }
}

video {
  max-width: 100%;
}

* p {
  line-height: 1.35em !important;
}

iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

figure {
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-bottom: 30px !important;
  }
}

figcaption {
  padding: $spacer / 3 0;
  color: $color-black;
  text-align: center;
  margin: $spacer;

  @include media-breakpoint-up(xl) {
    padding: $spacer-xl / 3 0;
    margin: $spacer-xl;
  }

  @include media-breakpoint-down(sm) {
    padding: $spacer-sm / 3 0;
    margin: $spacer-sm;
  }
}

a {
  color: $color-black;

  &:hover {
    color: $color-hover;
  }
}

body {
  font-family: "medium", Helvetica, Arial, sans-serif;
  @extend %small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible !important;
  overflow-x: hidden !important;
  background-color: $color-primary;

  &.no-scroll {
    overflow: hidden !important;
    position: relative;
  }
}
