@use "../settings" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  font-synthesis: none !important;
}
