@use "sass:math";
@use "../settings" as *;

* {
<<<<<<< HEAD
  font-family: "regular";

  & strong {
    font-family: "black";
  }
=======
  font-family: "medium";
>>>>>>> 30a41e65c710913fdd28c19b9aef2cba21432ae0
}

%micro {
  font-size: $micro;
  line-height: $micro-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $micro-xl;
    line-height: $micro-lineh-xl;
  }

  @include media-breakpoint-down(md) {
    font-size: $micro-sm;
    line-height: $micro-lineh-sm;
  }
}

%extrasmall {
  font-size: $extrasmall;
  line-height: $extrasmall-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $extrasmall-xl;
    line-height: $extrasmall-lineh-xl;
  }

  @include media-breakpoint-down(md) {
    font-size: $extrasmall-sm;
    line-height: $extrasmall-lineh-sm;
  }
}

%small {
  font-size: $small;
  line-height: $small-lineh;
  font-variation-settings: "wdth" 98;

  @include media-breakpoint-up(xl) {
    font-size: $small-xl;
    line-height: $small-lineh-xl;
  }

  @include media-breakpoint-down(md) {
    font-size: $small-sm;
    line-height: $small-lineh-sm;
  }
}

%medium {
  font-size: $medium;
  line-height: $medium-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $medium-xl;
    line-height: $medium-lineh-xl;
  }

  @include media-breakpoint-down(md) {
    font-size: $medium-sm;
    line-height: $medium-lineh-sm;
  }
}

%large {
  font-size: $large;
  line-height: $large-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $large-xl;
    line-height: $large-lineh-xl;
  }

  @include media-breakpoint-down(md) {
    font-size: $large-sm;
    line-height: $large-lineh-sm;
  }
}

%extralarge {
  font-size: $extralarge;
  line-height: $extralarge-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $extralarge-xl;
    line-height: $extralarge-lineh-xl;
  }

  @include media-breakpoint-down(md) {
    font-size: $extralarge-sm;
    line-height: $extralarge-lineh-sm;
  }
}

%ultralarge {
  font-size: $ultralarge;
  line-height: $ultralarge-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $ultralarge-xl;
    line-height: $ultralarge-lineh-xl;
  }

  @include media-breakpoint-down(md) {
    font-size: $ultralarge-sm;
    line-height: $ultralarge-lineh-sm;
  }
}

%massive {
  font-size: $massive;
  line-height: $massive-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $massive-xl;
    line-height: $massive-lineh-xl;
  }

  @include media-breakpoint-down(md) {
    font-size: $massive-sm;
    line-height: $massive-lineh-sm;
  }
}

%button {
  padding: math.div($spacer, 2.5) $spacer;
  @extend %extrasmall;
  border-radius: 100vw;
  border: 2px solid $color-black;
}

body {
  @extend %medium;
}


h1 {
  @extend %massive;
}

h2 {
  @extend %extralarge;
}

h3 {
  @extend %large;
}

h4 {
  @extend %medium;
}

h5 {
  @extend %small;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: $color-black;
  margin-bottom: $spacer;
  font-family: "medium";
  line-height: 1.2em;

  @include media-breakpoint-up(xl) {
    margin-bottom: $spacer-xl;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: $spacer-sm;
  }

  strong {
    font-family: "black";
  }

  span {
    display: inline-block;
    margin-bottom: $spacer*1;

    @include media-breakpoint-up(xl) {
      margin-bottom: $spacer-xl*1;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }
}

* p a {
  text-decoration: underline;
}

hr {
  opacity: 1;
  border: none;
  border-top: 1px solid $color-theme;
  width: 100%;
}

* a {
  color: $color-theme;

  &:hover {
    color: $color-hover;
  }
}