# Kirby exclusions
/site/cache
/site/sessions
/media
/assets/build

# Config exclusions
.logins
site/accounts/.logins

# Dependencies
/node_modules
/vendor

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
.env
