@use "sass:math";
@use "../shared" as *;
@import "../base/typography";

/* HEADER */
/* CSS relativo alla sezione header / menu */
.navigation {
  &.navigation-desktop {
    display: flex;
    max-height: fit-content;

    @include media-breakpoint-down(lg) {
      padding: math.div($spacer, 2);
      display: none;
    }
  }

  &.navigation-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $spacer-sm * 3;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $color-white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s linear;
    z-index: 5;

    @include media-breakpoint-down(md) {
      display: flex;
    }

    &.visible {
      opacity: 1;
      pointer-events: all;
      position: fixed;
      z-index: 1;
    }

    .navigation-mobile-flexbox {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      min-width: 100%;
      display: flex;
    }

    .accordion__item {
      margin: $spacer;

      @include media-breakpoint-down(lg) {
        margin: $spacer math.div($spacer, 2);
        margin-top: 0;
        margin-left: 0;
      }

      width: fit-content;

      .title_link {
        width: fit-content;
        display: inline-block;
        color: $color-black;
        border-radius: 0;
        font-weight: $font-bold !important;

        &.ismobile {
          color: $color-theme;
        }
      }
    }
  }
}

.navbar-toggler {
  border: none;
  position: relative;
  background-color: #fff;
  border-radius: 100vw;
  padding: 9px 6px;
  cursor: pointer;
  top: unset;
  height: 32px;
  display: none;
  z-index: 99;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 2px 0 !important;
    background-color: #000;
    border-radius: 100vw;
    position: relative;
    transition: all 0.4s;

    &:nth-of-type(1) {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
      left: 3px;
    }

    &:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0); // fallback IE
    }

    &:nth-of-type(3) {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
      left: 3px;
      top: -1px;
    }
  }

  &.closed {
    .icon-bar {

      &:nth-of-type(1),
      &:nth-of-type(3) {
        transform: rotate(0);
        left: 0;
      }

      &:nth-of-type(2) {
        opacity: 1;
        filter: alpha(opacity=100);
        left: 0;

      }
    }
  }
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 20;
  width: auto;
  padding: 0;
  border-bottom: 0;

  .site-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $color-white;
    padding: $spacer;
    min-height: 66px !important;

    @include media-breakpoint-up(xl) {
      min-height: 75px !important;
    }

    @include media-breakpoint-down(md) {
      min-height: 50px !important;
    }

    @include media-breakpoint-down(md) {
      align-items: center;
      padding: 15px;
    }

    * {
      color: $color-black;
      transition: all 0.3s;
      margin: 0;
    }

    a,
    svg {
      display: inline-block;

      svg,
      img {
        object-fit: cover;
        max-width: fit-content;
        min-height: 100px;

        @include media-breakpoint-down(lg) {
          min-height: 50px;
        }
      }

      &:hover {
        * {
          color: $color-theme !important;
          transition: all 0.3s;
        }
      }
    }

    .navigation {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      &.navigation-desktop {
        background-color: $color-theme-bis;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .accordion__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-right: math.div($spacer, 2);

        &:last-of-type {
          margin-right: 0;
        }

        .title_link {
          @extend %medium;
          border-radius: 0;
          display: inline-block;
          font-weight: $font-bold;
          color: $color-black !important;
          margin: 0;
          padding: 4px 8px;

          &:hover {
            color: $color-theme !important;
          }

          &.active {
            color: $color-theme !important;
          }
        }
      }
    }
  }
}


.logotype_container {
  * {
    transition: none !important;
  }

  a {
    width: 100%;

    h2 {
      font-weight: $font-bold;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      span {
        display: none;
        font-weight: $font-bold;
        margin: 0;
      }
    }

    &:hover {
      color: $color-theme !important;

      h2 {
        span {
          display: block;
        }
      }
    }
  }
}