/* Design tokens and typography configuration */

$font-regular: 300;
$font-medium: 400;
$font-bold: 500;
$font-extrabold: 600;
$font-black: 700;

@font-face {
  font-family: "bold";
<<<<<<< HEAD
  src: url("@/sass/theme/fonts/spacegrotesk.ttf") format("truetype");
=======
  src: url("/fonts/roboto-flex.ttf") format("truetype");
>>>>>>> 30a41e65c710913fdd28c19b9aef2cba21432ae0
  font-variation-settings: "wght"$font-bold;
}

@font-face {
  font-family: "extrabold";
<<<<<<< HEAD
  src: url("@/sass/theme/fonts/spacegrotesk.ttf") format("truetype");
=======
  src: url("/fonts/roboto-flex.ttf") format("truetype");
>>>>>>> 30a41e65c710913fdd28c19b9aef2cba21432ae0
  font-variation-settings: "wght"$font-extrabold;
}

@font-face {
  font-family: "black";
<<<<<<< HEAD
  src: url("@/sass/theme/fonts/spacegrotesk.ttf") format("truetype");
=======
  src: url("/fonts/roboto-flex.ttf") format("truetype");
>>>>>>> 30a41e65c710913fdd28c19b9aef2cba21432ae0
  font-variation-settings: "wght"$font-black;
}

@font-face {
  font-family: "medium";
<<<<<<< HEAD
  src: url("@/sass/theme/fonts/spacegrotesk.ttf") format("truetype");
=======
  src: url("/fonts/roboto-flex.ttf") format("truetype");
>>>>>>> 30a41e65c710913fdd28c19b9aef2cba21432ae0
  font-variation-settings: "wght"$font-medium;
}

@font-face {
<<<<<<< HEAD
  font-family: "regular";
  src: url("@/sass/theme/fonts/spacegrotesk.ttf") format("truetype");
=======
  font-family: "light";
  src: url("/fonts/roboto-flex.ttf") format("truetype");
>>>>>>> 30a41e65c710913fdd28c19b9aef2cba21432ae0
  font-variation-settings: "wght"$font-regular;
}

$color-white: #fff;
$color-black: #000;
$color-theme: #c800ff;
$color-theme-bis: #fff;
$color-hover: #ffe000;
$color-filter-bar: #fff;

$micro: 12px;
$extrasmall: 14px;
$small: 18px;
$medium: 20px;
$large: 22px;
$extralarge: 26px;
$ultralarge: 32px;
$massive: 38px;

$micro-xl: 14px;
$extrasmall-xl: 16px;
$small-xl: 20px;
$medium-xl: 22px;
$large-xl: 24px;
$extralarge-xl: 30px;
$ultralarge-xl: 36px;
$massive-xl: 42px;

$micro-sm: 10px;
$extrasmall-sm: 10px;
$small-sm: 12px;
$medium-sm: 14px;
$large-sm: 18px;
$extralarge-sm: 22px;
$ultralarge-sm: 26px;
$massive-sm: 30px;

$micro-lineh: 1;
$extrasmall-lineh: 1;
$small-lineh: 1;
$medium-lineh: 1;
$large-lineh: 1;
$extralarge-lineh: 1;
$ultralarge-lineh: 1;
$massive-lineh: 1;

$micro-lineh-xl: 1;
$extrasmall-lineh-xl: 1;
$small-lineh-xl: 1;
$medium-lineh-xl: 1;
$large-lineh-xl: 1;
$extralarge-lineh-xl: 1;
$ultralarge-lineh-xl: 1;
$massive-lineh-xl: 1;

$micro-lineh-sm: 1;
$extrasmall-lineh-sm: 1;
$small-lineh-sm: 1;
$medium-lineh-sm: 1;
$large-lineh-sm: 1;
$extralarge-lineh-sm: 1;
$ultralarge-lineh-sm: 1;
$massive-lineh-sm: 1;

$spacer-xl: 15px;
$spacer: 15px;
$spacer-sm: 10px;

$grid-breakpoints: (
  xxs: 0,
  xs: 500px,
  sm: 850px,
  md: 1080px,
  lg: 1280px,
  xl: 1400px,
);


/* Standard */
::selection {
  background: $color-hover;
  /* colore evidenziazione */
  color: inherit;
  /* colore del testo selezionato */
}

/* Firefox (per sicurezza) */
::-moz-selection {
  background: $color-hover;
  color: inherit;
}