/* Design tokens and typography configuration */

$font-regular: 400;
$font-medium: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

@font-face {
  font-family: "bold";
  src: url("../fonts/roboto-flex.ttf") format("truetype");
  font-variation-settings: "wght" $font-bold;
}

@font-face {
  font-family: "extrabold";
  src: url("../fonts/roboto-flex.ttf") format("truetype");
  font-variation-settings: "wght" $font-extrabold;
}

@font-face {
  font-family: "black";
  src: url("../fonts/roboto-flex.ttf") format("truetype");
  font-variation-settings: "wght" $font-black;
}

@font-face {
  font-family: "medium";
  src: url("../fonts/roboto-flex.ttf") format("truetype");
  font-variation-settings: "wght" $font-medium;
}

@font-face {
  font-family: "light";
  src: url("../fonts/roboto-flex.ttf") format("truetype");
  font-variation-settings: "wght" $font-regular;
}

$color-white: #fff;
$color-black: #000;
$color-theme: #FF2E17;
$color-theme-bis: #f5f5f5;
$color-hover: #ffcc34;
$color-filter-bar: #e1e1e1;

$micro: 12px;
$extrasmall: 14px;
$small: 16px;
$medium: 18px;
$large: 21px;
$extralarge: 26px;
$ultralarge: 32px;
$massive: 38px;

$micro-xl: 14px;
$extrasmall-xl: 16px;
$small-xl: 18px;
$medium-xl: 20px;
$large-xl: 24px;
$extralarge-xl: 30px;
$ultralarge-xl: 36px;
$massive-xl: 42px;

$micro-sm: 10px;
$extrasmall-sm: 12px;
$small-sm: 14px;
$medium-sm: 16px;
$large-sm: 20px;
$extralarge-sm: 24px;
$ultralarge-sm: 30px;
$massive-sm: 36px;

$micro-lineh: 1.15;
$extrasmall-lineh: 1.15;
$small-lineh: 1.15;
$medium-lineh: 1.15;
$large-lineh: 1.15;
$extralarge-lineh: 1.15;
$ultralarge-lineh: 1.1;
$massive-lineh: 1;

$micro-lineh-xl: 1.15;
$extrasmall-lineh-xl: 1.15;
$small-lineh-xl: 1.15;
$medium-lineh-xl: 1.15;
$large-lineh-xl: 1.15;
$extralarge-lineh-xl: 1.15;
$ultralarge-lineh-xl: 1.1;
$massive-lineh-xl: 1;

$micro-lineh-sm: 1.15;
$extrasmall-lineh-sm: 1.15;
$small-lineh-sm: 1.15;
$medium-lineh-sm: 1.15;
$large-lineh-sm: 1.15;
$extralarge-lineh-sm: 1.15;
$ultralarge-lineh-sm: 1.1;
$massive-lineh-sm: 1;

$spacer-xl: 15px;
$spacer: 15px;
$spacer-sm: 10px;

$grid-breakpoints: (
  xs: 500px,
  sm: 850px,
  md: 1080px,
  lg: 1280px,
  xl: 1400px,
);
