@use "../shared" as *;
@import "../base/typography";

/* FILTRI */
/* CSS relativo al componente FILTRI */
.container-collection {
  z-index: 1;
  // position: sticky;
  // top: 120px !important;

  // @include media-breakpoint-up(md) {
  //   top: 73px !important;
  // }

  // @include media-breakpoint-down(md) {
  //   top: 56px !important;
  // }

  // @include media-breakpoint-up(lg) {
  //   top: 73px !important;
  // }

  .collection-filters {
    background-color: $color-theme-bis;
    padding: 0 $spacer * 3;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: $spacer;

    @include media-breakpoint-up(xl) {
      padding: 0 $spacer-xl * 3;
      margin-bottom: $spacer;
    }

    @include media-breakpoint-down(sm) {
      padding: 0px;
      margin-bottom: 0;
      flex-direction: column;
    }
  }
}

.single-filter {
  color: $color-black ;
  background-color: $color-hover ;
  padding: 4px 12px;
  border-radius: 100vw;
  margin: $spacer-sm;
  display: inline-block;
  text-transform: uppercase;
  width: max-content;
  transition: all 0.3s;
  font-weight: $font-bold !important;
  font-size: 14px;

  &:hover {
    transition: all 0.3s;
    border: none;
    color: $color-black !important;
    outline: 2px solid $color-black !important;
  }

  &.active {
    background-color: $color-theme;
    color: $color-white;
    transition: all 0.3s;
    outline: 2px solid $color-theme;
  }

  &.white {

    &:hover {
      transition: all 0.3s
    }
  }
}

.control-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
  // padding-left: $spacer;
  margin-bottom: 0;
  border-top: 1px solid whitesmoke;

  &:first-of-type {
    border-top: none;
    margin-top: 0;
  }

  &:last-of-type {}

  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}