@use "../shared" as *;
@import "../base/typography";

/* FILTRI */
/* CSS relativo al componente FILTRI */
.container-collection {
  position: sticky;
  z-index: 200;
  top: 66px!important;
  @include media-breakpoint-up(xl) {
    top: 75px!important;
  }
  @include media-breakpoint-down(sm) {
    top: 50px!important;
  }

  .collection-filters {
    background-color: $color-filter-bar;
    padding: 0 $spacer * 3;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: $spacer;
    border-top: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
    @include media-breakpoint-up(xl) {
      padding: 0 $spacer-xl * 3;
      margin-bottom: $spacer;
    }
    @include media-breakpoint-down(sm) {
      padding: 0px;
      margin-bottom: 0;
      flex-direction: column;
    }
  }
}
.single-filter {
  background-color: $color-black;
  padding: $spacer-sm $spacer-xl;
  border-radius: 100vw;
  color: $color-white;
  margin: $spacer-sm;
  display: inline-block;
  text-transform: uppercase;
  width: max-content;
  transition: all 0.3s;
  font-weight: 700;

  &:hover {
    transition: all 0.3s;
    color: $color-white;
    background-color: $color-hover;
  }
  &.white{
    color: $color-black;
    background-color: $color-white;
    &:hover {
      transition: all 0.3s;
      color: $color-white;
      background-color: $color-black;
    }
  }
}
.control-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  // padding-left: $spacer;
  border-top: 2px solid $color-black;
  &:first-of-type {
    border-top: none;
  }
  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
  }
}
