@use "sass:math";
@use "../shared" as *;
@import "../base/typography";

/* FOOTER */
/* CSS relativo al componente Footer */
.footer_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: $spacer-sm 0;
  background-color: #000;
  color: white;
  font-size: 14px;

  &.first {
    justify-content: center;
  }

  .logo {
    margin-top: 0;
    min-width: 15vw;
    padding-top: 0;

    a {
      color: black;

      &:hover {
        color: #f30;
      }
    }
  }

  .credits {
    margin-right: math.div($spacer-sm, 2);
  }

  .spin-offs a:hover,
  .social a:hover {
    opacity: 0.5;
  }

  .social a {
    margin: 0 0.5em;
  }
}

// Layout footer specifico (attenzione: il selettore era fragile)
.footer .row {

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $color-black;
  }

  a {
    color: $color-theme;

    &:hover {
      color: $color-black !important;
    }
  }
}

.footer {
  figure {
    margin-bottom: 0 !important;

    img {
      margin-bottom: 0 !important;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 0;

    figure {
      margin-top: 30px !important;
      margin-bottom: 30px !important;
    }
  }
}

// Mobile override per layout
@media screen and (max-width: 900px) {
  .bg-layout.footer .row {
    text-align: left;
  }
}