@use "../shared" as *;
@import "../base/typography";

/* FORMBLOCK PLUGIN */
.formblock {
	padding: $spacer*3!important;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: $spacer * 3 0;
	margin-bottom: 0!important;
	background-color: $color-filter-bar;
	@include media-breakpoint-up(xl) { 
		padding: $spacer-xl*3!important;
		margin: $spacer-xl * 3 0;
		margin-bottom: 0!important;
	}
	@include media-breakpoint-down(sm) { 
		flex-direction: column;
		margin: $spacer-sm * 3 0;
		padding: $spacer-sm!important;
		margin-bottom: 0!important;
	}
	.formblock__message__list{
		background: none!important;
		font-size: $small;
	}
	div[data-form="form_error"]{
		font-weight: 700!important;
	}
	div[data-form="fields_error"]{
		background: none!important;
		margin-top: 0!important;
		margin-bottom: 0!important;
	}
	
	.formfield__container {
		display: flex;
		flex-direction: column;
		min-width: 50%;
		max-width: 100%;
		flex-grow: 1;
		
		margin-bottom: $spacer;
		@include media-breakpoint-up(xl) { 
			margin-bottom: $spacer-xl;
		}
		@include media-breakpoint-down(sm) { 
			margin-bottom: $spacer-sm;
		}
		label {
			text-transform: uppercase;
			@extend %extrasmall;
			width: calc(100% - $spacer*2);
			margin: $spacer;
		}
		input, textarea {
			background-color: $color-white;
			border: 2px solid $color-black;
			padding: $spacer/2;
			border-radius: 100vw;
			@extend %micro;
			width: auto!important;
			min-width: calc(100% - 30px)!important;
			&.formfield__radio, &.formfield__checkbox{
				min-width: auto!important;
			}
			margin: 0 auto;
			font-size: 120%;
			@include media-breakpoint-up(xl) { 
				padding: $spacer-xl/2;
			}
			@include media-breakpoint-down(sm) { 
				padding: $spacer-sm/2;
				margin: $spacer-sm/2!important;
			}
		}
		textarea{
			border-radius: 0!important;
			min-width: fit-content!important;
			font-size: $small!important;
			margin: 0 $spacer!important;
		}
	}
	.formblock__submit {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: $spacer;
		margin-bottom: $spacer;
		input {
			@extend %button;
			background-color: $color-black;
			color: $color-white;
			display: inline-block;
			margin: 0px $spacer;
			margin-left: 0!important;
			@extend %small;
			padding: $spacer/2 $spacer*1.5;
			text-transform: uppercase;
			font-family: 'extrabold', Helvetica, Arial, sans-serif;
			@include media-breakpoint-up(xl) { 
				margin: 0px $spacer-xl;
				padding: $spacer-xl/2 $spacer-xl*1.5;
			}
			@include media-breakpoint-down(sm) { 
				margin: 0px $spacer-sm;
				padding: $spacer-sm/2 $spacer-sm*1.5;
			}
			&:hover{
				background-color: $color-hover;
				color: $color-white;	
			}
		}
	}
}
.formblock__message--error{
	min-width: 100%;
	background-color: lightgray;
	margin-top: $spacer;
	margin-bottom: $spacer;
}

.formblock__message--success span.tag {
	background-color: $color-red;
	a {
	color: $color-white;
	text-decoration: none!important;
	}
	&:hover{
		background-color: $color-hover;
		a{
		}
	}
}
* .formfield__radio, .formfield__checkbox {
	width: fit-content!important;
	margin-top: 3px!important;
}
* .formfield__option {
	width: fit-content!important;
	width: fit-content!important;
	display: flex!important;
	flex-direction: row!important;
	flex-wrap: nowrap!important;
	align-items: center!important;
	margin-bottom: 4px!important;
	&:last-of-type{
		margin-bottom: 0!important;
	}
}
* .formfield__option label{
	width: fit-content!important;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: nowrap;
	flex-direction: row;
	margin-bottom: $spacer!important;
	p{
		margin: 0 auto;
		margin-top: 0!important;
		margin-left: 4px!important;
    font-size: $small!important;
		text-transform: lowercase!important;
	}
}
* .formblock__message__list{
	margin: $spacer 0!important;
}
.formblock__message__list__item{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	color: $color-theme-bis!important;
}
* .formblock__option__container{
	margin: 0 auto!important;
	width: 100%;
	text-align: left;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 24px;
	padding: $spacer!important;

	.formblock_field__label{
		text-transform: uppercase!important;
	}
	input{
		transform: scale(1.5);
		margin-right: $spacer/2!important;
	}
}
* .formfield__label__text {
	font-size: $small;
	font-weight: 700;
}
* .formblock .formblock__submit input{
	text-transform: capitalize!important;
	font-weight: 700!important;
}

* label.formfield__option__label {
	display: flex!important;
	flex-direction: row!important;
	margin: 0!important;
}
