@use "../shared" as *;
@import "../base/typography";

/* HEADER */
/* CSS relativo alla sezione header / menu */
.navigation {
  &.navigation-desktop {
    display: flex;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &.navigation-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $spacer-sm * 3;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $color-primary;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s linear;
    z-index: 5;
    @include media-breakpoint-down(md) {
      display: flex;
    }
    &.visible {
      opacity: 1;
      pointer-events: all;
      position: fixed;
      z-index: 1;
    }
    .navigation-mobile-flexbox{
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;  
      min-width: 100%;
      display: flex;
    }
    .accordion__item {
      margin: $spacer/3;
      width: fit-content;
      .title_link {
        width: fit-content;
        display: inline-block;
        padding: $spacer/1.5 $spacer*1.25;
        font-size: $medium;
        color: $color-black;
        background-color: $color-theme;
        border-radius: 100vw;
        &.ismobile{
          color: $color-black;
          background-color: $color-yellow;
  
        }
      }
    }
  }
}
.navbar-toggler {
  border: none;
  position: relative;
  background-color: #fff;
  border-radius: 100vw;
  padding: 9px 6px;
  cursor: pointer;
  top: unset;
  height: 32px;
  display: none;
  z-index: 99;
  @include media-breakpoint-down(md) {
    display: inline-block;
  }
  .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px 0;
    background-color: #000;
    border-radius: 100vw;
    position: relative;
    transition: all 0.4s;
    &:nth-of-type(1) {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
      left: 3px;
      top: -1.5px;
    }
    &:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0); // fallback IE
    }
    &:nth-of-type(3) {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
      left: 3px;
      top: -0.5px;
    }
  }
  &.closed {
    .icon-bar {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        transform: rotate(0);
        left: 0;
        top: -2px;
      }
      &:nth-of-type(2) {
        opacity: 1;
        filter: alpha(opacity=100);
        left: 0;
        top: -2px;
      }
    }
  }
}
.site-header {
  position: sticky;
  top: 0;
  z-index: 199;
  width: auto;
  padding: 0;
  border-bottom: 0;
  .site-header-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $color-white;
    padding: $spacer;
    min-height: 66px!important;
    @include media-breakpoint-up(xl) {
      min-height: 75px!important;
    }
    @include media-breakpoint-down(md) {
      min-height: 50px!important;
    }  
  
    @include media-breakpoint-down(md) {
      align-items: center;
      padding: 9px;
    }
    * {
      color: $color-black;
      transition: all 0.3s;
    }
    a,
    svg {
      display: inline-block;
      svg,
      img {
        object-fit: cover;
        max-width: fit-content;
        min-height: 100px;
      }
      &:hover {
        * {
          color: $color-hover !important;
          transition: all 0.3s;
        }
      }
    }
    .navigation {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      padding-right: 0;
      @include media-breakpoint-up(xl) {
        padding-right: 0;
      }
      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
      &.navigation-desktop {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .accordion__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .title_link {
          @extend %extrasmall;
          @extend %button;
          display: inline-block;
          padding: 6px 8px;
          font-weight: 700;
          background-color: $color-white;
          color: $color-black;
          margin-left: 6px;
          border: 2px solid $color-black;
          &:hover {
            background-color: $color-hover;
            color: $color-white;
          }
        }
      }
    }
  }
}
