@forward "header";
@forward "breadcrumbs";
@forward "page-cover";
@forward "anchors";
@forward "footer";
@forward "filters";
@forward "blocks-slider";
@forward "cta";
@forward "formblock";
@forward "maps";
@forward "search";
@forward "swiper";
@forward "cards";
@forward "cookie-modal";
@forward "freak-type";
@forward "collection-manager";
