@use "sass:math";
@use "../shared" as *;
@import "../base/typography";

/* SEARCH BAR */
/* CSS relativo al componente BARRA DI RICERCA */
@keyframes backgroundColorPalette {
  0% {
    background: $color-white;
  }

  25% {
    background: $color-theme;
  }

  50% {
    background: $color-white;
  }

  75% {
    background: $color-theme;
  }

  100% {
    background: $color-white;
  }
}

.search-header {
  margin-top: 60px !important;
  display: flex;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: $spacer-sm;
  margin-bottom: $spacer * 4;
  background-color: $color-white;
  transition: all 0.3s;

  // border-top: 2px solid $color-black;
  // animation-name: backgroundColorPalette;
  // animation-duration: 10s;
  // animation-iteration-count: infinite;
  // animation-direction: alternate;
  form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  input#bar {

    background-color: $color-white;
    border: 2px solid $color-black;
    padding: math.div($spacer, 2);
    border-radius: 0;
    @extend %micro;
    width: auto !important;
    min-width: 66%;
    margin: 0 !important;

    &.formfield__radio,
    &.formfield__checkbox {
      min-width: auto !important;
    }

    margin: 0 auto;
    font-size: 120%;

    @include media-breakpoint-up(xl) {
      padding: math.div($spacer-xl, 2);
    }

    @include media-breakpoint-down(sm) {
      padding: math.div($spacer-sm, 2);
      min-width: 200px;
    }

    &:focus {
      border-color: $color-black !important;
      outline: 2px solid $color-hover !important;
    }

    &::placeholder {
      color: gray;
      text-align: center;
      width: 100%;
    }

    &:focus {
      outline: 2px solid $color-hover !important;
    }
  }

  input#button {
    @extend %button;
    @extend %small;
    background-color: $color-black;
    color: $color-white;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "extrabold", Helvetica, Arial, sans-serif;
    padding: 6px 12px !important;
    margin: 0 $spacer;

    @include media-breakpoint-up(xl) {
      margin: 0 $spacer-xl;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 $spacer-sm;
    }

    &:hover {
      color: $color-black;
      background-color: $color-hover;
    }
  }
}

input:focus {
  outline: 2px solid $color-hover;
}

input#button {
  outline: inherit;
}

a.result {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: calc(100% - $spacer-sm);
  margin: $spacer-sm auto 0;

  &:last-of-type {
    margin-bottom: $spacer-sm;
  }

  @media screen and (max-width: 900px) {
    max-width: calc(100% - $spacer-sm);
  }

  h2 {
    color: black;
    margin-bottom: math.div($spacer-sm, 3);
  }

  p {
    color: $color-black;
    margin-bottom: math.div($spacer-sm, 3);
    font-size: $extrasmall;
  }

  &:hover * {
    color: $color-hover;
  }
}

.relative {
  position: relative;
}

.close_search {
  @extend %button;
  @extend %small;
  background-color: $color-black;
  color: $color-white;
  display: inline-block;
  text-transform: uppercase;
  font-family: "extrabold", Helvetica, Arial, sans-serif;
  padding: 7.5px 11.5px !important;
  margin: 0;

  &:hover {
    background-color: $color-hover;
    color: $color-black !important;
  }
}

// Dispositivi
@media screen and (max-width: 900px) {
  .mobile {
    display: block;
  }

  .laptop {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .mobile {
    display: none;
  }

  .laptop {
    display: block;
  }
}