@use "../shared" as *;

/* LAZY LOADER */
/* CSS relativo alle immagini */
img {
  width: auto;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  &.lazy {
    opacity: 0;
  }
  &.loaded {
    opacity: 1;
    transition: opacity 0.15s linear;
  }
}
